@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

/* @media (max-width: 981px) {
    .container-place {
        position: relative;
        top: 40px;
        left: 67%;
    }
    .inputFieldClass {
        font-size: 20px;
    }
} */

    .hiddenFieldClass {
        font-size: 40px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: 400;
        opacity: 0.4;
        opacity: 0;
        filter: alpha(opacity = 0);
    }

    .container-place {
        /* position: relative; */
        position: absolute;
        /* position: fixed; */
        top: 60px;
        left: 52%;
    }
    
    .inputFieldClass {
        margin-top: -20px;
        margin-left: -120px;
        color: #CC719A;        ;        ;
        font-size: 28px;
        font-family: "Open Sans", Arial, sans-serif;
        line-height: 1.8;
        font-weight: bold;
    }

    .letterContainer {
        display: inline;
        white-space: nowrap;
    }

    .letterStatic {
        display: inline;
    }

    .letterAnimTop {
        display: inline;
        -webkit-animation: dropTop .1s ease;
        -moz-animation: dropTop .1s ease;

    }

    .letterAnimBottom {
        display: inline;
        position: absolute;
        -webkit-animation: dropBottom .1s ease;
        -moz-animation: dropBottom .1s ease;
    }

    @-moz-keyframes blink {
        from { opacity: 0 }
        to { opactiy: 1 }
    }

    @-webkit-keyframes blink {
        from { opacity: 0 }
        to { opactiy: 1 }
    }

    @-moz-keyframes dropTop {
        from {
            -moz-transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
            transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
        }

        to {
            -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
            transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
        }
    }

    @-moz-keyframes dropBottom {
        from {
            -moz-transform: translateY(20px) translateZ(20px) rotateX(-90deg);
            transform: translateY(20px) translateZ(20px) rotateX(-90deg);
        }

        to {
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }
    }

    @-webkit-keyframes dropTop {
        from { -webkit-transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg); }
        to { -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg); }
}

    @-webkit-keyframes dropBottom {
        from { -webkit-transform: translateY(20px) translateZ(20px) rotateX(-90deg); }
        to { -webkit-transform: rotateX(0deg); }
    }

.container-fancy-input {
  position: relative;
}

.container-input-hidden {
  display: none;
}

@media (min-width: 981px) and (max-width: 1359px) {
    #header header h1 {
        /* top: 220px; */
    }
}

@media (max-width: 400px) {
    .container-place {
        /* top: 40px; */
        top: 336px;
        left: 67%;
    }
}

@media (min-width: 401px) and (max-width: 500px) {
    .container-place {
        /* top: 40px; */
        left: 64%;
        top: 336px;
    }
}
@media (min-width: 501px) and (max-width: 738px) {
    .container-place {
        /* top: 40px; */
        top: 336px;
        left: 61%;
    }
}

@media (min-width: 739px) and (max-width: 981px) {
    .container-place {
        top: 40px;
        left: 57%;
    }
}
@media (max-width: 981px) {
    /* .container-place {
        top: 40px;
        left: 67%;
    } */
    .inputFieldClass {
        font-size: 20px;
    }
}


/* main css changes */


/* header color */
#header header h1 {
    color: white;
    background-color: #DB2C62;
    position: relative;
}
@media (min-width: 981px) {
    #header header h1 {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .backgroundWidth {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

header.major h1:after {
    background: 0;
}

/* button color */
.button.special {
    background-color: #DB2C62;
}

/* no images on a small scree */
@media screen and (max-width: 980px) {
    .main .image.primary {
        display: none;
    }
}

/* my profile picture */
#myPic {
    width: 70%;
    height: auto;
}

/* icons colors on the big screen */
/* #footer footer {
    color: #61686b;
} */
.socialMedia {
    color: #61686b;
}

@media (min-width: 981px) {
    #footer footer .copyright {
        color: rgba(255, 255, 255, 0.5);
    }
    .socialMedia {
        color: #DB2C62;
    }
}


/* button color */
.button {
    padding: 0 2em;
}
.button.special {
    border-radius: 15px;
}
.button.special:hover {
    background-color: #FF5280;
    box-shadow: none;
}

/* less space on top of every container */
.main .container {
    padding: 4em 2.5em 8em 2.5em;
}

/* call me image */
.callMeImage {
    width: 40%;
    height: auto;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 15px;
}

.callMeImage .image.fit {
    margin: 0;
}

/* download button */
  *, :before, :after {
    box-sizing: border-box;
  }
  
  .button-download,
  [class*='button-'] {
    background: #DB2C62;
    display: inline-block;
    padding: 1rem 2rem;
    color: #232323;
    font: 200 1.5rem "Source Sans Pro";
    text-transform: lowercase;
    text-decoration: none;
    text-align: left;
    transition: 0.5s linear all;
    border-radius: 15px;
  }
  .button:hover,
  [class*='button-']:hover {
    background: #FF5280;
  }
  
  .download-wrap {
    perspective: 80rem;
    perspective-origin: 50% 50% 0;
    width: 15rem;
    height: 4rem;
    margin: 0 auto;
  }
  
  .download {
    position: relative;
    width: 15rem;
    height: 4rem;
    transform-style: preserve-3d;
    transform-origin: 50% 50% 0;
    transform: rotateX(0deg);
    transition: 0.2s linear all;
  }
  .download.is-active {
    transform: rotateX(90deg) translateZ(2rem);
  }
  .download.is-active .meter-progress {
    right: 0%;
  }
  
  .button-download,
  .meter {
    position: relative;
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 4rem;
    padding: 0 2rem;
    transform-origin: top center;
  }
  
  .meter {
    background: #C41564;
    overflow: hidden;
    transform: rotateX(270deg);
  }
  .meter:before, .meter:after {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
  .meter:before {
    content: 'downloading...';
    animation: white-pulse 1s infinite alternate;
  }
  .meter:after {
    content: 'done!';
    display: none;
    color: #fff;
  }
  .meter.is-done:before {
    display: none;
  }
  .meter.is-done:after {
    display: block;
  }
  .meter .meter-progress {
    display: block;
    width: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.15) 30%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.15) 60%, rgba(0, 0, 0, 0.15) 70%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.15) 90%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.2));
    transition: 4s linear all;
  }
  
  .icon-wrap {
    position: absolute;
    right: 0.5rem;
    top: 0;
    bottom: 0;
    width: 4rem;
    padding-top: 1.66rem;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .icon-download {
    position: relative;
    display: block;
    width: 2.5rem;
    height: 1rem;
    margin: auto;
    border: solid 0.5rem #232323;
    border-top: none;
  }
  .icon-download:before, .icon-download:after {
    content: '';
    display: block;
    position: absolute;
    animation: icon-bounce .5s infinite alternate;
  }
  .icon-download:before {
    left: 0.5rem;
    top: -0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    background: #232323;
  }
  .icon-download:after {
    left: 0.25rem;
    top: -0.125rem;
    width: 0;
    height: 0;
    border-left: solid 0.5rem transparent;
    border-right: solid 0.5rem transparent;
    border-top: solid 0.5rem #232323;
  }
  
  @keyframes icon-bounce {
    from {
      transform: translateY(-5px);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes white-pulse {
    from {
      color: rgba(255, 255, 255, 0.2);
    }
    to {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  /* waving hand */
  /* @media (max-width: 796px) {
      .wavingHand {
          display: none;
      }
  }
    .wavingHand {
      padding: 20px;
      position: absolute;
      top: 31%;
      left: 79%;
      margin: -70px 0 0 -70px;
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
        -webkit-animation: wink 0.5s alternate infinite; 
        -moz-animation:    wink 0.5s alternate infinite; 
        -o-animation:      wink 0.5s alternate infinite;
        animation:         wink 0.5s alternate infinite; 
        -webkit-transform-origin: 50% 100%;
        -moz-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
    }
    @media (min-width: 981px) and (max-width: 1030px) {
        .wavingHand {
          top: 32%;
          left: 76%;
        }
    }

    @media (min-width: 1031px) {
        .wavingHand {
            top: 32%;
            left: 72%;
        }
    } */
    
    /* Chrome, Safari, Opera */ 
    /* @-webkit-keyframes wink {
        0% {-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    }

    100% {-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);}
    }  */
    
    /* Standard syntax */ 
    /* @keyframes wink {
        0% {-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    }

    100% {-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);}
    }
 */



    